<div class="wrapper">
    <form name="vform" method="post" action="/login">
        <h1>Giriş Yap</h1>

        <div class="input-box">
            <input name="email" type="email" placeholder="Email" required>
            <div id="email-error" class="val_error"></div>
        </div>

        <div class="input-box">
            <input name="password" type="password" placeholder="Şifre" required>
            <div id="password-error" class="val_error"></div>
        </div>

        <div class="remember-forgot">
            <label><input type="checkbox">Beni hatırla</label>
            <a style="font-size: 15px;" href="/reset-password">Şifremi unuttum</a>
        </div>

        <button type="submit" class="btn">Giriş Yap</button>

        <div class="register_link">
            <p>Hesabın yok mu? <a style="font-size: 15px;" href="/register">Kayıt Ol</a></p>
        </div>

        <div id="server-error" style="color: red;"></div>

    </form>
    <button id="error-button" style="display: none;">E-posta veya şifre hatalı!</button>

    <%- include('../../scripts/account/login.ejs') %>