<%- include('../layouts/main-layout', { title: 'Register', body: ''}) %>
<div class="wrapper-register">
    <form action="">
        <h1>Kayıt Ol</h1>

        <div class= "input-box">
            <input type="email" placeholder="E-Mail" required>
        </div>

        <div class="input-box">
            <input type="text" placeholder="Kullanıcı adı" required>
        </div>

        <div class= "input-box">
            <input type="password" placeholder="Şifre" required>
        </div>

        <div class= "input-box">
            <input type="password" placeholder="Şifrenizi tekrar giriniz" required>
        </div>

    
        <button type="submit" class="btn">Kayıt Ol</button>

        <div class="register_link">
            <p>Hesabın varsa şimdi <a style="font-size: 15px;" href="/login">Giriş Yap</a></p>
        </div>

    </form>
   </div>
<%- include('../../scripts/account/register.ejs') %>