<%- include('../layouts/main-layout', { title: 'Restoran Ekle', body: ''}) %>

<form action="/admin/add-restaurant" method="post">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input class = "form-control#name" type="text" name="name">
        </div>
    </div>

    <div class="form-group row">
        <label for="location" class="col-sm-2 col-form-label">Location</label>
        <div class="col-sm-10">
            <input class = "form-control#location" type="text" name="Location">
        </div>
    </div>

    <div class="form-group row">
        <label for="icon" class="col-sm-2 col-form-label">Icon</label>
        <div class="col-sm-10">
            <input class = "form-control#icon" type="text" name="icon">
        </div>
    </div>

    <div class="form-group row">
        <label for="menu" class="col-sm-2 col-form-label">Menu</label>
        <div class="col-sm-10">
            <input class = "form-control#menu" type="text" name="menu">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <input class = "btn btn-primary" type="submit" value="Save Restaurant">
        </div>
    </div>
</form>