<div class="general-wrapper">
    <form action="/admin/add-restaurant" method="post" autocomplete="off">
        <h2>Restorant Ekle</h2>

        <div class="input-box">
            <label for="name">
                <h3>Restorant İsmi</h3>
            </label>
            <input class="small" id="name" name="name" type="text" placeholder="İsmi" required>
        </div>

        <div class="input-box">
            <label for="mahalle">
                <h3>Mahalle</h3>
            </label>
            <select class="small" id="mahalle" name="mahalle" type="text" placeholder="Mahalle" required>
                <option disabled selected value>Seçiniz</option>
                <% _data.mahalleler.forEach(mahalle=> { %>
                <option value="<%= mahalle %>">
                    <%= mahalle %>
                </option>
                <% }); %>
            </select>
        </div>

        <div class="input-box">
            <label for="name">
                <h3>Konum</h3>
            </label>
            <div style="display: flex; justify-content: space-between; align-items: center; gap: 5px;">
                <input class="small" id="lat" name="lat" type="number" placeholder="Enlem" step="0.00001" required>
                -
                <input class="small" id="lng" name="long" type="number" placeholder="Boylam" step="0.00001" required>
            </div>
            <div class="map-wrapper">
                <div class="map-dummy"></div>
                <div id="map"></div>
            </div>
        </div>

        <button type="submit" class="btn">Ekle</button>

    </form>
</div>

<%- include('../../scripts/admin/add-restaurant.ejs') %>