<%- include('../layouts/main-layout', { title: 'Kolaylokma - Ne yesek diye düşünme derdine son!', body: ''}) %>

<div class="container" style="padding-top:100px;padding-left:100px">
    <div id = "map" style = "width: 500px; height: 380px"></div>
</div>

<%- include('../../scripts/index.ejs'); %>
