<% if(_data.menuItems.length> 0){ %>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Restaurant Name</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% _data.MenuItems.forEach(function(menuItems) { %>
                <tr>
                    <td>
                        <%= MenuItems.name %>
                    </td>
                    <td>
                        <%= MenuItems.price %>
                    </td>
                    <td>
                        <%= MenuItems.kategori %> TL
                    </td>
                    <td>
                        <%= MenuItems.menu %> TL
                    </td>
                    
                </tr>
                <% }); %>
        </tbody>
    </table>
    <% } else { %>
        <div class="alert alert-warning">Menü öğesi bulunamadı.</div>
        <% } %>