* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #d1cebd;
}

body::after {
    content: "";
    background-image: url(/images/wllppr.jpg);
    opacity: 15%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

#map {
    width: 800px;
    height: 500px;
    border: 2px solid #8a0c27;
    position: relative;
    z-index: 1;
    border-radius: 24px;
}

.general-wrapper #map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map-dummy {
    margin-top: 100%;
}

.map-wrapper {
    margin-top: 30px;
    display: inline-block;
    position: relative;
    width: 100%;
}

li,
a,
button:not(.no-button),
.no-button {
    font-weight: 700;
    font-size: 20px;
    color: #8a0c27;
    text-decoration: none;
}

button.no-button {
    height: 33px;
    border: none;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #edefe8;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 20px 20px;
    background-color: #edefe8;
}

.nav_links li a:hover {
    color: #f57b51;
}

button:not(.no-button) {
    height: 33px;
    width: 150px;
    background-color: #8a0c27;
    color: #edefe8;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:not(.no-button):hover {
    background-color: #f57b51;
}

.wrapper {
    align-items: center;
    justify-content: center;
    background: #edefe8;
    color: #8a0c27;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid #8a0c27;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper h2 {
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.general-wrapper {
    align-items: center;
    justify-content: center;
    background: #edefe8;
    color: #8a0c27;
    margin: 50px auto 20px auto;
    width: 420px;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid #8a0c27;
}

.general-wrapper .link {
    text-align: center;
    margin-top: 20px;
}

.general-wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.general-wrapper h2 {
    text-align: center;
}

.general-wrapper .input-box {
    position: relative;
    width: 100%;
    margin: 30px 0;
}


.general-wrapper .input-box h3 {
    padding: 0 0 8px 0;
}

.input-box input,
.input-box select {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 1px solid black;
    border-radius: 40px;
    padding-right: 30px;
    font-size: 17px;
    padding: 0px 20px 0px 20px;
    min-height: 40px;
}

.input-box input::placeholder {
    color: black;
}

.input-box .small::placeholder {
    color: #8a0c27;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot a:hover {
    color: #f57b51;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    font-weight: 500;
}

.general-wrapper .btn {
    width: 100%;
    height: 50px;
    font-weight: 500;
}

.register_link {
    text-align: center;
    margin-top: 20px;
}

.register_link a {
    font-size: 15px;
}

.register_link a:hover {
    color: #f57b51;
}

.wrapper-register {
    align-items: center;
    justify-content: center;
    background: #edefe8;
    color: #8a0c27;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    border-radius: 10px;
    padding: 30px 30px;
    margin-top: 35px;
    border: 2px solid #8a0c27;
}

.wrapper-register h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper-register .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper-register .btn {
    width: 100%;
    height: 50px;
    font-weight: 500;
}

.container,
.container1,
.container2 {
    padding: 5rem;
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.filter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #edefe8;
    color: #8a0c27;
    position: relative;
    width: 450px;
    height: 520px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid #8a0c27;
}

.container1 label input {
    margin-right: 3px;
}

.container1 input {
    accent-color: black;
}


.filter-button {
    width: 100% !important;
}

.filter-button.clicked {
    background-color: #f57b51;
}

.selected-items {
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
}

.input-box #minFiyat,
.input-box #maxFiyat {
    height: 17px;
    background: transparent;
    border: 1px solid black;
    font-size: 15px;
    display: inline-block;
}

.input-box .small {
    height: 17px;
    background: transparent;
    border: 1px solid black;
    font-size: 15px;
    display: inline-block;
}

.custom-combobox-container {
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.custom-combobox {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
}

.custom-combobox input[type="text"] {
    width: 95%;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.options-container {
    position: absolute;
    width: 100%;
    z-index: 100;
    border: 1px solid #ddaf8c;
    display: none;
    height: 150px;
    overflow-y: scroll;
    border-radius: 10px;
}

.options-container label {
    display: block;
    cursor: pointer;
    padding: 7px;
    user-select: none;
    background-color: #d1cebd;
}

.options-container label:hover {
    background: #ddaf8c;
}

.options-container::-webkit-scrollbar {
    width: 3px;
}

.options-container::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
}

::placeholder,
#minFiyat::placeholder,
#maxFiyat::placeholder {
    color: #8a0c27;
    font-size: 15px;
}

.custom-combobox img {
    width: 20px;
    height: 20px;
}

.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.restaurant {
    min-width: 360px;
    width: 36%;
    max-width: 900px;
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.restaurant h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.restaurant p {
    margin: 5px 0;
    color: #666;
}

.restaurant .rest-header {
    text-align: center;
}

.restaurant.admin .rest-header {
    text-align: left;
}


.restaurant .puan {
    color: #f57b51;
    /* color: #f1c40f; */
}

.menus {
    margin-top: 15px;
}

.menu {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.menu .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h3 {
    margin: 0;
    font-size: 20px;
    color: #555;
}

.menu p {
    margin: 5px 0;
    color: #888;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    min-width: 360px;
    width: 36%;
    max-width: 900px;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #c4e3f3;
    color: #31708f;
    border-color: #b6d7e8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alert.alert-success {
    background-color: #d0e9c6;
    color: #3c763d;
    border-color: #b2dba1;
}

.alert.alert-info {
    background-color: #c4e3f3;
    color: #31708f;
    border-color: #b6d7e8;
}

.alert.alert-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border-color: #faebcc;
}

.alert.alert-danger {
    background-color: #f9c6c6;
    color: #a94442;
    border-color: #e89797;
}

.restaurant.admin {
    padding: 16px;
    margin: 12px 0;
    background: #edefe8;
    color: #8a0c27 !important;
    border-radius: 10px !important;
    border: 2px solid #8a0c27 !important;
    box-shadow: none !important;
}

.restaurant.admin .flex {
    display: flex;
    justify-content: space-between;
}

.restaurant.admin .flex.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leaflet-container a {
    font-size: 0.75rem;
}

.leaflet-container a.rest-link {
    font-size: 1rem;
}