* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
}

body {
    background-color: #d1cebd;
}

li,
a,
button {
    font-family: 'Rubik' ;
    font-weight: 700 ;
    font-size: 20px ;
    color: #8a0c27 ;
    text-decoration: none ;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #edefe8;
    

}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;

}

.nav_links li {
    display: inline-block;
    padding: 20px 20px;
    background-color: #edefe8;

}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #f57b51;
}

button {
    height: 33px;
    width: 150px;
    pad: 100px 100px;
    background-color: #8a0c27;
    color: #edefe8;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: #f57b51;

}

#map {
    width: 850px; /* Harita genişliğini %100 yap */
    height: 500px; /* Harita yüksekliğini belirle */
    margin-top: 70px; /* Üstten boşluk */
    margin-left: 30px; /* Soldan boşluk */
    border: 5px solid #8a0c27; /* Kenarlık */
    position: relative;
    z-index: 1;
}



.wrapper {

    align-items: center;
    justify-content: center;
    background:#edefe8;
    color: #8a0c27;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width:420px; 
    border-radius: 10px;
    padding: 30px 40px;

}

.wrapper h1 {
    font-family: 'Rubik';
    font-size: 36px;
    text-align: center;
    height: auto;
}


.wrapper .input-box {
    position: relative;
    font-family: 'Rubik';
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 40px;
    padding-right: 30px;
    font-size: 17px;
    padding: 20px 45px 20px 20px; 
}

.input-box input::placeholder {
    color: black;
}

/* .bx-user {} */


/* .bx-key {} */

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a {
    font-size: 15px;
    transition: all 0.3s ease 0s; 
}

.remember-forgot a:hover {
    color: #f57b51;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    font-weight: 500;
}

.register_link {
    text-align: center;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.register_link a {
    font-size: 15px;
    transition: all 0.3s ease; /* Geçiş efekti için */
}

.register_link a:hover {
    color:#f57b51; /* Hover durumunda metnin rengini değiştirme */
}

.wrapper-register {
    align-items: center;
    justify-content: center;
    background:#edefe8;
    color: #8a0c27;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width:420px; 
    border-radius: 10px;
    padding: 30px 30px;
    margin-top: 35px;
}
.wrapper-register h1 {
    font-family: 'Rubik';
    font-size: 36px;
    text-align: center;
    height: auto;
}


.wrapper-register .input-box {
    position: relative;
    font-family: 'Rubik';
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.wrapper-register .btn {
    width: 100%;
    height: 50px;
    font-weight: 500;
}

