<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    var restaurants = JSON.stringify(restaurants);
    // Leaflet haritasını oluştur
    var map = L.map('map').setView([41.4507, 31.7627], 15);

    // Harita stilini ayarla (isteğe bağlı)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var customIcon = L.icon({
        iconUrl: 'https://cdn-icons-png.flaticon.com/512/4287/4287725.png',
        iconSize:     [40, 40], // size of the icon
    });

    /*restaurants.forEach(function(restaurant) {
    
        var marker = L.marker(restaurant.location).addTo(map).bindPopup(restaurant.name).openPopup;

    });*/

    var marker = L.marker([41.4507, 31.7627],{icon:customIcon}).addTo(map).bindPopup("Canım Zongi <3").openPopup
</script>