<!DOCTYPE html>
<html lang="tr">
<head>
  <%- include('../includes/head.ejs'); %> 
</head>
<body>
    <%- include('../includes/navbar.ejs'); %>
    <main>
        <%- body %>
    </main>
    
</body>
</html>