<!DOCTYPE html>
<html lang="tr">

<head>
    <%- include('../includes/head.ejs'); %>
</head>

<body>
    <%- include("../../scripts/main.ejs") %>
    <%- include('../includes/navbar.ejs'); %>
    <main>
        <%- body %>
    </main>
</body>

</html>