<header>
    <a href="/" class="logo"><img src="/images/logo.png" alt="Kolaylokma logo" style="width:150px; height: auto;"></a>
    <nav>
        <ul class="nav_links">
            <% if(_data.userdata !=undefined) { %> <!-- Oturum açılmış kullanıcı varsa -->
                <li class="birinci"><a href="/logout">Çıkış Yap</a></li>
                <% } else { %> <!-- Oturum açılmış kullanıcı yoksa -->
                    <li class="birinci"><a href="/login">Giriş Yap</a></li>
                    <li class="ikinci"><a href="/register">Kayıt Ol</a></li>
                    <% } %>
        </ul>
    </nav>
    <%=_data.userdata %>
    <a class="cta" href="/hakkimizda"><button>Hakkımızda</button></a>
</header>