<header>
    <a href="/" class="logo"><img src="/images/logo.png" alt="Kolaylokma logo" style="width:150px; height: auto;"></a> 
<nav>
    <ul class="nav_links">
        <li class="birinci"><a href="/login">Giriş Yap</a></li>
        <li class="ikinci"><a href="/register">Kayıt Ol</a></li>
    </ul>
</nav>
<a class="cta" href="/hakkimizda"><button>Hakkımızda</button></a>
</header>